/*Trivia Game Style*/

body {
    
    font-size: 18px;
    color: #e9e9e9;
    text-align: center;
    background-color: #999;
    padding: 10px;
    margin: 0 auto;
}

 button, input, #topicInput {
      margin: 20px 15px 10px 15px;
      padding: 10px;
      background-color: #355777;
      border-color: #6b5e5e;
      color: #e9e9e9;
    }

#topicInput {
      margin: 20px 0 10px 0;
      padding: 6px;
      background-color: #465f75;
      color: #e9e9e9;
    }

.container {
    background-color: #1C2833;
}

h1 {
    font-size: 36px;
    padding: 20px 0 10px 0;
}

h3 {
    font-size: 24px;
    padding: 10px 0 20px 0;
}

h2 {
    padding: 15px;
}

.item {
    float: left;
    padding: 10px;
}

